<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">
                            Report output
                        </h4>
                        <p class="text-muted mb-0">
                            The output from your report is shown below...
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                {{data}}
            </div>
        </div>
    </div>
</div>